*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}

body{
    
}

header{
    
    height: 70px;
    position: sticky;
    top: 0;
    background-color: #ffdb58 ;
    opacity: 0.6;
    
    
}

header div{
  
}




#contenedorHeader{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
   
    
}

#contenedorHeader .marca a{
    font-size: 200%;
    color: white;
}

.marca, .marcaSmall{
    width: 30%;
    align-self: center;
    font-family: 'Handlee', cursive;
    color: white;
    
}




.contenidoMenu{
    
    width: 65%;
    
}
#contenedorMenu{
   
    display: flex;
    padding: 0;
    justify-content: flex-end;
    align-self: flex-end;
    
}

.itemMenu{
    width: 12%;
    border: 1px solid black;
    border-radius: 5px;
    height: auto;
    text-align: center;
    align-self: flex-end;
    margin: 0 3px;
    font-size: 15px;
    
}

.contenedorIndex{
    display: flex;
    padding: 10%;
    
}

.contenidoIndex{
    width: 50%;
    
}

.imgIndex{
    width: 100%;
    margin: 0 auto;
}




#videoIndex{
    width: 100%;
    padding: 20% 0;
    
}

video{
    max-width: 100%;
}

.superContenedorPresentacion{
    padding: 10% 0;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
    
    
}

#tituloPresentacion{
    
    padding: 2%;
    font-size: 30px;
}

.superContenidoPresentacion{
    width: 100%;
    text-align: center;
}

.contenedorPresentacion{
    display: flex;
    width: 70%;
    margin: 0 auto;
}

.imgPresentacion{
    width: 80%;
    margin: 0 auto;
    
}

.contenidoPresentacion{
    width: 50%;
    text-align: justify;
}
h1{
    text-align: center;
    font-size: 300%;
    padding: 5%;
}
.acuarelaImagen{
    max-width: 306px;
    max-height: 407.913px;
    border-radius: 45px;
    
}

.imagenContenedor{
    text-align: center;
    overflow: hidden;
    margin-bottom: 50px;
    padding: 5%;
    
}

.tituloImagen{
    font-size: 125%;
}
.descripcionImagen{
    font-size: 80%;
    height: 8%;
    overflow: hidden;
    max-width: 290px;
    margin-left: auto;
    margin-right: auto;
    
    
}

div a{
    font-size: small;
    color:black;
    text-decoration: none;
    
}

div a:visited{
    text-decoration: none;
    color:black;
}

footer{
    /*position: sticky;
    bottom: 0;*/
    height: 50px;
   position: relative;
    text-align: right;
    margin-top: 20px;
    background-color: #ffdb58 ;
    opacity: 0.6;
}

footer div{
    position: absolute;
    bottom: 0;
    right: 0;
}

.verMas{
    border-radius: 5px;
    margin: 10px;
    padding: 3px;
}

#galeria{
    
}


/*Contacto Pagina principal*/

.contenedorFormularios{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
    
    
}
.contenedorFormulario{
    border: 1px solid black;
    text-align: center;
    margin: 3%;
    border-radius: 15px;
    

}


.opcionFormulario{
    
}



.tituloForm{
    font-size: 150%;
    padding: 5%;
}

.parrafoForm{
    font-size: 100%;
    padding: 20% 10%;
}

.clicForm{
    margin: 10% 0;
    border-radius: 10px;
    padding: 5px;
    background-color: white;
    
}




#contenedorFormComentario{
    text-align: center;
    border: 1px solid black;
    margin: 0 auto;
    margin-bottom: 10%;
    max-width: 450px;
    height: auto;
    border-radius: 10px;
    padding-bottom: 5%;
    
    
}

.explicacionForm{
    font-size: small;
    padding: 10%;
}

.campoObligatorio{
    font-size: small;
    text-align: left;
    padding-left: 5%;
    font-style: italic;
}

#formularioComentario{
    text-align: left;
    padding-left: 10%;
    

}

.nombreCampo{
    padding-top: 10%;
}

.campo{
    border-radius: 5px;
    width: 100%;
}

.enviar{
    text-align: right;
    padding-right: 10%;
    padding-top: 10%;
    
}

.botonEnviar{
    border-radius: 10px;
    padding: 0 5%;
    width:  40%;
}






/* MEDIA QUERIES */


/*MEDIA GRANDE--------*/
@media screen and (min-width: 901px) {
   
    .marcaSmall{
        display: none;
    }


/*Formularios*/
    .contenedorFormulario{
        width: 30%;
    }

    #contenedorFormComentario{
        width: 50%;
    }
   }


/*MEDIA MEDIANO ---------- */
   
@media screen  and (min-width: 501px) and (max-width:900px) {
    #contenedorHeader{
        justify-content: flex-end;
    }
       .itemMenu{
          width: 25%;
          padding:5px;
          font-size: 10px;
          
         
      }
   
      .marca{
          display: none;
      }
   
      #contenedorHeader .marcaSmall a{
          font-size: 250%;
          border: 1px solid black;
          border-radius: 100%;
          padding: 2px 15px;
          
      }

      .contenedorFormulario{
        width: 60%;
        max-width: 295px;
    }

    #contenedorFormComentario{
        width: 60%;
    }

    video{
        width: 60vw;
    }

    .contenedorPresentacion{
        width: 80%;
        flex-wrap: wrap;
 
    }
    .contenidoPresentacion{
        width: 100%;
        margin: 0 auto;
        padding: 5%;
    }
}



/*MEDIA CHIQUITO -----------------------*/

@media screen and (max-width: 500px) and (min-width: 0px){
   
 #contenedorHeader{
     justify-content: flex-end;
 }
    .itemMenu{
       width: 25%;
       padding:5px;
       font-size: 10px;
       
      
   }

   .marca{
       display: none;
   }

   #contenedorHeader .marcaSmall a{
       font-size: 250%;
       border: 1px solid black;
       border-radius: 100%;
       padding: 2px 15px;
       
   }

   .contenedorFormulario{
       width: 60%;
       max-width: 295px;
   }

   #contenedorFormComentario{
       width: 80%;
   }

   video{
       width: 80vw;
   }

   .contenedorPresentacion{
       width: 100%;
       flex-wrap: wrap;

   }
   .contenidoPresentacion{
       width: 80%;
       margin: 0 auto;
       padding: 5%;
   }
}
