*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-image: url(imagenes/Acuarelable.png);
}
header{
    height: 70px;
    position: sticky;
    top: 0;
    background-color: rgba(236, 208, 171, 1) ; 
}

#contenedorHeader{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#contenedorHeader .marca a{
    font-size: 200%;
    color: white;
}

.marca, .marcaSmall{
    width: 30%;
    align-self: center;
    font-family: 'Handlee', cursive;
    color: white;
    padding-left: 2%; 
}

.cuadrados{
    display: flex;
    width: 100px;
    flex-wrap: wrap;
    margin: 10% auto;
    justify-content: space-between;
}

.cuadrado1, .cuadrado2, .cuadrado3, .cuadrado4{
    width:20%;
    height: 20px;
}

.cuadrado1{
    background-color: rgba(236, 208, 171, 1);
}
.cuadrado2{
    background-color: rgba(236, 208, 171, 0.75);
}
.cuadrado3{
    background-color: rgba(236, 208, 171, 0.5);
}
.cuadrado4{
    background-color: rgba(236, 208, 171, 0.25);
}

.contenidoMenu{
    width: 65%;
}

#contenedorMenu{  
    display: flex;
    padding: 0;
    justify-content: flex-end;
    align-self: flex-end;
}

.itemMenu{
    width: 12%;
    border-radius: 5px;
    height: auto;
    text-align: center;
    align-self: flex-end;
    margin: 0 3px;
    font-size: 25px;
    padding-bottom: 10px;  
}

#contenedorMenu .itemMenu a{
    padding:5%;
    border-radius: 10px;
}

#contenedorMenu .itemMenu a:hover{
    background-color: rgba(255, 255, 255, 0.5);
}

#banner{
    text-align: center;
    padding: 5%;
    padding-bottom: 0;
    font-size: 80px;
    font-family: 'Handlee', cursive;
    color:burlywood;  
}

#autor{
    text-align: center;
    font-family: 'Handlee', cursive;
    font-size: 20px;
    padding-bottom: 5%;
}

.contenedorIndex1{
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(236, 208, 171, 0.2);
    width: 80%;
    margin: 0 auto;
}

.contenidoIndex1{
    width: 50%;
    text-align: center;
    padding:5%; 
}

.imgIndex{
    width: 400px;
    border: 2px solid rgba(236, 208, 171, 1);
    background-color: rgba(236, 208, 171, 0.5);
    padding: 3%;
}

#videoIndex{
    width: 400px;
    max-width: 100%;
    padding:3%;
    border: 2px solid rgba(236, 208, 171, 1);
    background-color: rgba(236, 208, 171, 0.5); 
}

#tituloInicio{
    width: 100%;
    text-align: center;
    font-size: 180%;
    padding: 3%;
}

.tituloIndex{
    font-size: 150%;
    padding-bottom: 2%;
}

.contenedorPromocion, .opcionesPromocion{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;  
}

.tituloPromocion{
    width: 100%;
    text-align: center;
    font-size: 110%;
    font-weight: bolder;   
}

.opcionPromocion{
    width: 100%;
    text-align: center;
    margin: 5% auto;
    max-width: 400px;
}

.opcionPromocion div{
    font-size: 20px;
}

.opcionPromocion div a{
    font-size: 90%;
    border: 3px solid rgba(236, 208, 171, 1);
    padding: 2%;
    border-radius: 10px;
    background-color: rgba(236, 208, 171, 0.1);
}

.opcionPromocion div a:hover{
    background-color: rgba(236, 208, 171, 0.7);
}

.imagenPresentacion{  
   width: 250px;
}

.presentacion{
    display: flex;
    width: 50%;
}

.parrafoPresentacion{
    max-width: 30%;
    text-align: justify;
    font-size: 105%;  
}

.tituloSobreMi{
    width: 10%;
    padding: 2%;
    font-size: 200%;
    font-family: 'Handlee', cursive;
    background-color: rgba(236, 208, 171, 0.75);
}

.contenidoPromocion{
    width: 100%;
}

.contenedorPresentacion{
    display: flex;
    flex-wrap: wrap;
}

.contenidoImgPres{
    display: flex;
    flex-wrap: wrap;  
}

h1{
    text-align: center;
    font-size: 300%;
    padding: 5%;
}

.acuarelaImagen{
    max-width: 306px;
    max-height: 407.913px;
    border-radius: 45px; 
    border: 5px solid black;
    
    
}

.imagenContenedor{
    text-align: center;
    overflow: hidden;
    margin-bottom: 50px;
    padding: 5%;
   
    
}

.tituloImagen{
    font-size: 125%;
    
    
}

.descripcionImagen{
    font-size: 80%;
    height: 8%;
    overflow: hidden;
    max-width: 290px;
    margin-left: auto;
    margin-right: auto; 
}

div a{
    font-size: small;
    color:black;
    text-decoration: none;   
}

div a:visited{
    text-decoration: none;
    color:black;
}

footer{
    height: 50px;
   position: relative;
    text-align: right;
    margin-top: 20px;
    background-color: rgba(236, 208, 171, 1) ;
    
}

footer div{
    position: absolute;
    bottom: 0;
    right: 0;
}

.verMas{
    border-radius: 5px;
    margin: 10px;
    padding: 3px;
}

/*Contacto Pagina principal*/

.contenedorFormularios{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;    
}

.contenedorFormulario{
    border: 1px solid black;
    text-align: center;
    margin: 3%;
    border-radius: 15px;
}

.tituloForm{
    font-size: 150%;
    padding: 5%;
}

.parrafoForm{
    font-size: 100%;
    padding: 20% 10%;
}

.clicForm{
    margin: 10% 0;
    border-radius: 10px;
    padding: 5px;
    background-color: white;    
}

#contenedorFormComentario{
    text-align: center;
    border: 1px solid black;
    margin: 0 auto;
    margin-bottom: 10%;
    max-width: 450px;
    height: auto;
    border-radius: 10px;
    padding-bottom: 5%;    
}

.explicacionForm{
    font-size: small;
    padding: 10%;
}

.campoObligatorio{
    font-size: small;
    text-align: left;
    padding-left: 5%;
    font-style: italic;
}

#formularioComentario{
    text-align: left;
    padding-left: 10%;
}

.nombreCampo{
    padding-top: 10%;
}

.campo{
    border-radius: 5px;
    width: 100%;
}

.enviar{
    text-align: right;
    padding-right: 10%;
    padding-top: 10%;
}

.botonEnviar{
    border-radius: 10px;
    padding: 0 5%;
    width:  40%;
}

/* MEDIA QUERIES */

/*MEDIA GRANDE--------*/
@media screen and (min-width: 901px) {
   
    .marcaSmall{
        display: none;
    }

/*Formularios*/
    .contenedorFormulario{
        width: 30%;
    }

    #contenedorFormComentario{
        width: 50%;
    }

    .imagenPresentacion{
        max-width: 300px;
    }

    #videoIndex, .imgIndex{
        max-width: 100%;
    }
    
   }


/*MEDIA MEDIANO ---------- */
   
@media screen  and (min-width: 701px) and (max-width:900px) {
    #contenedorHeader{
        justify-content: flex-end;
    }
       .itemMenu{
          width: 25%;
          padding:5px;
          font-size: 10px;         
      }
   
      .marca{
          display: none;
      }
   
      #contenedorHeader .marcaSmall a{
          font-size: 250%;
          border: 1px solid black;
          border-radius: 100%;
          padding: 2px 15px;
      }

      .contenedorFormulario{
        width: 60%;
        max-width: 295px;
    }

    #contenedorFormComentario{
        width: 60%;
    }

    .contenidoIndex1{
        width: 50%;
    }
    
    #videoIndex, .imgIndex{
        width:  250px; 
    }

    .contenedorPresentacion{
        flex-direction: column-reverse;
        width: 100%; 
    }

    .contenidoPresentacion{
        width: 80%;
        text-align: justify;
    }
 
    .imagenPresentacion{
        max-width: 100%;
        width: 100%;
    }
    
 
    .presentacion{
        display: flex;
        flex-wrap: wrap;
        margin: 0 25%;
    }
 
    .tituloSobreMi{
        width: 10%;
         display: flex;
         flex-wrap: wrap;
         font-size: 100%;
         background-color: rgba(236, 208, 171, 0.75);
         padding: 0 5%;
         font-family: 'Handlee', cursive; 
    }
 
    .contenidoImgPres{
        width: 50%;
    }
 
    .parrafoPresentacion{
        background-color: rgba(236, 208, 171, 0.2);
        max-width: 100%;
    }
   
    .opcionPromocion{
        width: 40%;
        max-width: 300px;
        padding: 4% 1%;
    }
    
    .contenedorPromocion{
        padding: 10% 0 ;
    }

    .contenidoPromocion{
        width: 100%;
    }


}



/*MEDIA CHIQUITO -----------------------*/

@media screen and (max-width: 700px) and (min-width: 401px){
   
 #contenedorHeader{
     justify-content: flex-end;
 }
    .itemMenu{
       width: 25%;
       padding:5px;
       font-size: 10px;
       
      
   }

   .marca{
       display: none;
   }

   #contenedorHeader .marcaSmall a{
       font-size: 250%;
       border: 1px solid black;
       border-radius: 100%;
       padding: 2px 15px;
       
   }

   .contenedorFormulario{
       width: 60%;
       max-width: 295px;
   }

   #contenedorFormComentario{
       width: 80%;
   }

   .contenidoIndex1{
       width: 100%;
   }

   #videoIndex, .imgIndex{
       width: 300px;
   }
   
   .contenedorPresentacion{
       flex-direction: column-reverse;
       
   }
   .contenidoPresentacion{
       width: 80%;
       text-align: justify;
       
    
   }

   .imagenPresentacion{
       max-width: 100%;
       width: 100%;
   }
   

   .presentacion{
       display: flex;
       flex-wrap: wrap;
       margin: 0 auto;
   }

   .tituloSobreMi{
       width: 20%;
        display: flex;
        flex-wrap: wrap;
        font-size: 150%;
        background-color: rgba(236, 208, 171, 0.75);
        padding: 0 10%;
        font-family: 'Handlee', cursive;
        
   }

   
   .contenidoImgPres{
       width: 80%;
   }

   .parrafoPresentacion{
       background-color: rgba(236, 208, 171, 0.2);
       max-width: 100%;
   }

   .opcionPromocion{
       width: 100%;
       padding: 10%;
   }

   .contenidoPromocion{
       margin: 0 auto;
   }
   .contenedorPromocion{
       padding-bottom: 30%;
       width: 100%;
       
   }
}



/*EXTRA SMALL -----------------------*/

@media screen and (max-width: 400px) and (min-width: 0px){

    body{
        overflow: scroll;
    }
   
    #contenedorHeader{
       
    }

    .itemMenu{
        width: 25%;
    }

    .contenidoMenu{
        width: 100%;
    }
       
   
      #banner{
          font-size: 200%;
      }

      #autor{
          font-size: 100%;
      }
      .marca{
          display: none;
      }
   
      #contenedorHeader .marcaSmall {
          display: none;
      }
   
      .contenedorFormulario{
          width: 60%;
          max-width: 295px;
      }
   
      #contenedorFormComentario{
          width: 80%;
      }
   
      .contenidoIndex1{
          width: 100%;
      }
   
      #videoIndex, .imgIndex{
          width: 180px;
      }
      
      #tituloInicio, .tituloIndex{
          font-size: 100%;
      }
      
      .contenedorPresentacion{
          flex-direction: column-reverse;
          
      }
      .contenidoPresentacion{
          width: 80%;
          text-align: justify;
          
       
      }
   
      .imagenPresentacion{
          max-width: 100%;
          width: 100%;
      }
      
   
      .presentacion{
          display: flex;
          flex-wrap: wrap;
          margin: 0 auto;
      }
   
      .tituloSobreMi{
          width: 20%;
           display: flex;
           flex-wrap: wrap;
           font-size: 150%;
           background-color: rgba(236, 208, 171, 0.75);
           padding: 0 10%;
           font-family: 'Handlee', cursive;
           
      }
   
      
      .contenidoImgPres{
          width: 80%;
      }
   
      .parrafoPresentacion{
          background-color: rgba(236, 208, 171, 0.2);
          max-width: 100%;
      }
   
      .opcionPromocion{
          width: 100%;
          padding: 10%;
      }
   
      .contenidoPromocion{
          margin: 0 auto;
      }
      .contenedorPromocion{
          padding-bottom: 30%;
          width: 100%;
          
      }
   }
   